*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{

    width: 100%;
    height: 90px;
    background-color: white;
    


    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  /* position: fixed; */
    top: 0;
}

#navbar nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

#navbar nav ul li a{    

    text-decoration: none;
    color: black;
    font-size: 25px;
  
    display: flex;
    inline-size: max-content;
}

#navbar nav ul li a:hover{
    color: rgb(11, 11, 11);
    font-size: 15px;
    border-bottom: 2px solid rgb(9, 9, 9);
}
#firstpage {
    width: 100%;
    height: 100vh;
  background-image: url('./Screenshot\ 2026-02-28\ 015032.png');
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    /* position: fixed; */
  

}
#firstpage h1{
    font-size: 100px;
    color: rgb(236, 34, 34);
     text-transform: uppercase;
     
     

}
#navbar nav ul li a{
    font-size: 15px;
    border-bottom: 10px solid transparent;
}






/* .my-link a {
    display: flex;
 text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500; */

    
#navbar img{
    margin-left: 0;
display: block;
width: 350px;
}





#secondpage{
    width: 100%;
    height: 100vh;
    
    background-color: rgb(251, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
/* background-image: url(../777.html/thought-catalog-505eectW54k-unsplash.jpg); */
position: relative;
    
  
}

#secondpage h1{
    font-size: 100px;
    color: rgb(159, 17, 17);
     text-transform: uppercase;
     font-family: 'Times New Roman', Times, serif;
}


#secondpage div{


    width: 300px;
    font-size: 40px;
    font-style: normal;
    height: 400px;
    border: none;
   background-color: rgba(37, 37, 236, 0.49 rgb(15, 27, 28));
    margin: 3%;
    
    
}

#second2 {

    font-size: 10px;
    font-style: normal;
       color: rgb(21, 20, 20);
     text-transform: capitalize;
     
     justify-items: center;
       /* background-color: darkgray; */
  
}


#second3{
font-size: 25px;
    font-style: normal;
       color: rgb(21, 20, 20);
     text-transform: capitalize;
     
     justify-items: center;
       /* background-color: darkgray; */

}

#second4{font-size: 7px;
    font-style: normal;
       color: rgb(21, 20, 20);
     text-transform: capitalize;
    
     justify-items: center;
       /* background-color: darkgray; */

}


/* 
.design1{

color: lightcoral;
font-size: large; */

#thirdpage{

justify-items: center;
font-size: 50px;
}
#fourthpage{
justify-items: center;
}


#fifthpage div{

    
    width: 700px;
    font-size: 20px;
    font-style: normal;
    height: 400px;
   border: inherit;
  background-image: url('./777.html/MSFT-Phone-Link-window-with-notifications-RW10JU0');
    margin: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



#sixthpage{


    justify-items: right;
    font-weight: normal;
    padding-right: 150px;
    font-size: 40px;

}

#seventhpage{
justify-items: right;
  font-size: 20px;
  padding-right: 80px ;
}

#eigthpage {
    
    width: 700px;
    font-size: 20px;
    font-style: normal;
    height: 400px;
   border: inherit;
  background-image: url(MSFT-Phone-Link-window-with-call-on-PC-RW10U7P\ \(1\).avif);
    margin-left: 49%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#ninethpage{


    justify-items: left;
    font-weight: normal;
    padding-left: 80px;
    font-size: 45px;

}

#tenthpage{
justify-items: left;
  font-size: 20px;
  padding-left: 80px ;
}


#eleventhpage div{

    
    width: 700px;
    font-size: 20px;
    font-style: normal;
    height: 400px;
   border: inherit;
  background-image: url(../777.html/MSFT-Phone-Link-windows-with-Outlook-email-notifications-RW10JU1.avif);
    margin: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#twelththpage div{



    
    font-weight: normal;
    padding-left: 850px;
    font-size: 40px;
}

#thirteenthpage{

 justify-items: left;
  font-size: 20px;
  padding-left: 850px;
}

#fourteenthpage {
    
    width: 700px;
    font-size: 20px;
    font-style: normal;
    height: 400px;
   border: inherit;
  background-image: url(../777.html/MSFT-Phone-Link-window-with-notifications-RW10JU0);
    margin-left: 49%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#fifteenthpage{


    justify-items: left;
    font-weight: normal;
    padding-left: 80px;
    font-size: 45px;

}
#sixteenthpage{
justify-items: left;
  font-size: 20px;
  padding-left: 80px ;
}

#seventeenthpage{

      justify-items: left;
    font-weight: normal;
    padding-left: 380px;
    font-size: 45px;

}

#eighteenthpage{

font-size: 45px;



}
.one{
    color: rgb(39, 135, 213);
    font-size: 20px
}
.onecolor{ color:rgb(0, 0, 0);
}

#eighteenthpage{

    justify-items: right;
    font-size: 20px;
    padding-right: 30px;
}
#nineeenthpage{
font-size: 25px;
margin-left: 7%;
}

#twentethpage{

background-image: url(../777.html/MSFT-Woman-wearing-a-pink-sweater-RW10MtX.jpg);
margin-left: 9%;
width: 400px;
height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#twenteonethpage{
font-size: 15px;
color: white;
background-color: rgb(51, 48, 48);
padding-left: 40px;
}