


p{
color: rgb(91, 165, 172);
background-color: black;
text-align: center;
font-size: large;
text-decoration: underline;
text-transform: capitalize;
font-weight: bold;
font-size: larger ;




h2{ 
height: 100px;



}

.shiv{

    width: 50px;

background-color: bisque



border: 2px solid red;
boder-bottem: 1px
padding-left: 2
margin-left: 20px;
/* border; 2px dashed brown; */
border-left: 20px sandybrown solid;
border-bottom: 10px solid rgb(104, 177, 121);



}